* {
    margin: 0;
    padding: 0;


}

.login-box {
    position: relative;
    top: 80px;
    width: 340px;
    height: 400px;
    font-family: 'Roboto Condensed', sans-serif;
}
.login__logo{
    position: relative;
}
.caption-login{
    font-size: 18px;
    font-weight: 300;
    padding-top: 10px;
}
.login__form{
    padding: 20px;
}
.login__form-label{
    font-size: 14px;
    font-weight: 400;
}
.login__form-btn{
    margin-top:10px;
    width: 100%;
    background-color: #ed9c45;
    color: #fff;
}
.login__form-btn:hover{
    color: #fff!important;
    background-color: #bb7939;
}
.login__link{
    text-decoration-line: none;
}
@media screen and (max-width: 399px) {
    .login-box {
        width: 100%;
        color: #000;
        background: #0f0;
    }
}